<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="app">
                <div id="display">
                    <div id="userInfo">
                    <img id="userImage"src=""><font id="username" color="white">user</font>
                    </div>
                    <div id="data">

                    </div>
                </div>
                <div id="actionsPanel">
                    <button id="add">+</button>
                    <button id="substract">-</button>
                </div>
        </div>

        <script src="../renderer.js"></script>
    </body>